.display_none {
    display: none !important;
}


.main_loader {
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    height: 100%;
    left: 0px;
    padding-top: 17%;
}

.main_loader img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
}

.main-section {
    width: 100%;
    min-width: 1017px;
}

.switch input {
    display: none;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(27px);
}

.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider.round::before {
    border-radius: 50%
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 19px;
    left: 1px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
}

.switch .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: 0;
    top: 0;
    border: 1px solid #0ebac5;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.04);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    margin-left: 0;
    vertical-align: text-top;
    float: right;
}

.error_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 0;
    min-height: 50px;
    z-index: 100;
    width: 100vw;
    background-color: rgba(227,65,56,.9);
    color: #fff;
    padding: 0px 20px;
    font-family:Lato,sans-serif;
    font-size: 14px;
    box-sizing:border-box;
}

.setting-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
}

.setting-popup-container {
    min-width: 220px; 
    height: 300px; 
    border: 1px solid #ccc; 
    padding: 10px;
    z-index: 10; 
    position: absolute; 
    background-color: #fff;
}
